# Print

In [2]:
print("nama saya dani")

nama saya dani

In [3]:
print('nama saya"Dani"')

nama saya"Dani"

# Variable

In [4]:
a = 1

In [5]:
print(a)

1

In [12]:
a, b = 1,"dua"

In [13]:
a

1

In [14]:
b

'dua'

In [9]:
# a ini menyimpan angka 1

# List

In [15]:
a =[1, 2, "tiga", 4, 5]

In [16]:
a

[1, 2, 'tiga', 4, 5]

In [17]:
a[0]

1

In [18]:
a[1]

2

In [19]:
a[3]

4

In [20]:
a[-1]

5

In [21]:
a.append(6)

In [22]:
a

[1, 2, 'tiga', 4, 5, 6]

In [27]:
a.append(7)

In [24]:
a

[1, 2, 'tiga', 4, 5, 6, 7]

In [25]:
len(a)

7

In [28]:
len(a)

9

# Slicing

inclusive, exclusive

In [32]:
a = [1, 2, 3, 4, 5]

In [33]:
a[1: 3]

[2, 3]

In [34]:
a[1: -2]

[2, 3]

In [35]:
a[:3]

[1, 2, 3]

In [37]:
a = [1, 2, 3, 4, 5, 6, 7, 8]

inclusice: exclusive : step

# Join & Spit

In [40]:
a = ["cat", "dog", "fish"]

In [42]:
" ".join(a)

'cat dog fish'

In [43]:
"..".join(a)

'cat..dog..fish'

In [44]:
a= " Hari ini adalah hari selasa"

In [45]:
a.split(" ")

['', 'Hari', 'ini', 'adalah', 'hari', 'selasa']

# Dictionery

key = value

In [46]:
a = {"cat": "kucing", "fish": "ikan", "Bird": "burung"}

In [47]:
a

{'cat': 'kucing', 'fish': 'ikan', 'Bird': 'burung'}

In [49]:
a["cat"]

'kucing'

In [50]:
a["cow"] = "sapi"

In [51]:
a

{'cat': 'kucing', 'fish': 'ikan', 'Bird': 'burung', 'cow': 'sapi'}

In [52]:
a.keys

In [53]:
a.keys()

dict_keys(['cat', 'fish', 'Bird', 'cow'])

In [54]:
a.values()

dict_values(['kucing', 'ikan', 'burung', 'sapi'])

In [56]:
nilai = {"andi" : 40, "budi" : 55, "caca" : 75, "dedy" : 100}

In [58]:
nilai{"dedy"}

SyntaxError: invalid syntax (<ipython-input-58-a5efec15e2bd>, line 1)

# Fungsi

In [61]:
def jumlahkan(a, b):
    return a + b
#definikankan fungsi, NAmanya "Jumlhkan", dengan input 'a' dan 'b'
# Lalu keluarkan 'a + b'

In [62]:
jumlahkan(3 , 2)

5

In [63]:
def perkalian(a, b):
    return a * b

In [64]:
perkalian(3, 6)

18

# Conditionals

In [7]:
score = 90

In [8]:
if 0 <= score < 60:
    print ("index : C")
elif score < 80:
    print ("index : B")
elif score < 100:
    print ("index : A")
elif score == 100:
        print ("index : S")
else :
    print ("score nya ngaco")

index : A

In [25]:
def konversi_nilai_jadi_index(score):
    if 0 <= score < 60:
        print ("index : C")
    elif score < 80:
        print ("index : B")
    elif score < 100:
        print ("index : A")
    elif score == 100:
        print ("index : S")
    else:
        print ("score nya ngaco")

In [68]:
konversi_nilai_jadi_index(88):

SyntaxError: invalid syntax (<ipython-input-68-390c22a4c4df>, line 1)

# Iterasi

menelusuri

In [29]:
numbers = [1, 2, 3, 4, 5, 6]

In [37]:
# untuk setiap 'number' didalam 'numbers' 
for number in numbers: 
    print (number**2)

1
4
9
16
25
36

In [35]:
animals = ['cat', 'dog', 'fish', 'cow']

In [39]:
for animal in animals:
    print (animal.upper())

CAT
DOG
FISH
COW

In [44]:
for animal in animals:
    print (animal.lower())

cat
dog
fish
cow

In [58]:
for i in range(1, 11):
    print (i**2)

1
4
9
16
25
36
49
64
81
100

In [59]:
a={"cat": "kucing", "fish": "ikan", "Bird": "burung"}

In [60]:
f"Bahasa Indonesia dari 'cat' adalah {a['cat']}"

"Bahasa Indonesia dari 'cat' adalah kucing"

In [70]:
for key in a.keys():
    print(f"Bahasa Indonesia dari'{key}' adalah {a[key]}")

Bahasa Indonesia dari'cat' adalah kucing
Bahasa Indonesia dari'fish' adalah ikan
Bahasa Indonesia dari'Bird' adalah burung

# Python Comprehension

List Conprehension

In [62]:
result = [i**2 for i in range(1, 11)]

In [63]:
result

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Set Comprehension

In [64]:
result = {i**2 for i in range(1, 11)}
result

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

# Dictionary Comprehension

In [65]:
result = {i: i**2 for i in range(1, 11)}
result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Exercise

In [66]:
nilai = {"andi" : 40, "budi" : 55, "caca" : 75, "dedy" : 100}

In [13]:
[konversi_nilai_jadi_index(score) for score in nilai.values()]

NameError: name 'nilai' is not defined

In [14]:
result = [konversi_nilai_jadi_index(score): score for nilai in nilai.value()]
result

SyntaxError: invalid syntax (<ipython-input-14-044508fbf77b>, line 1)